<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="shared_script">
    <script>
        var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script type="text/javascript" th:src="@{/admin/library/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/waves.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/wow.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/jquery.scrollTo.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/assets/chat/moment-2.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/assets/jquery-sparkline/jquery.sparkline.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/assets/jquery-detectmobile/detect.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/assets/fastclick/fastclick.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/assets/jquery-slimscroll/jquery.slimscroll.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/assets/jquery-blockui/jquery.blockUI.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/jquery.mCustomScrollbar.min.js}"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fileDownload/1.4.2/jquery.fileDownload.js"></script>

    <!-- sweet alerts -->
    <script type="text/javascript" th:src="@{/admin/library/js/sweetalert.min.js}"></script>

    <!-- Counter-up -->
    <script type="text/javascript" th:src="@{/admin/library/assets/counterup/waypoints.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/assets/counterup/jquery.counterup.min.js}"></script>

    <!--Loading-->
    <script type="text/javascript" th:src="@{/admin/library/js/loadingoverlay.js}"></script>

    <!-- Date -->
    <script type="text/javascript" th:src="@{/admin/library/assets/fullcalendar/jquery.date-dropdowns.min.js}"></script>

    <!-- CUSTOM JS -->
    <script type="text/javascript" th:src="@{/admin/library/js/jquery.app.js}"></script>

    <!--Notification-->
    <!--<script type="text/javascript" th:src="@{/admin/library/assets/notifications/sockjs.min.js}"></script>
        <script type="text/javascript" th:src="@{/admin/library/assets/notifications/stomp.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/admin/library/assets/notifications/notify.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/assets/notifications/notify-metro.js}"></script>

    <script type="text/javascript" th:src="@{/admin/backend/utils/chosen-select.js}"></script>
    <script type="text/javascript" th:src="@{/admin/backend/utils/common.js}"></script>
    <script type="text/javascript" th:src="@{/admin/backend/utils/support.js}"></script>
</th:block>