<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="public_shared_script">
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script type="text/javascript"  th:src="@{/public/library/js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script type="text/javascript"  th:src="@{/public/library/js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script type="text/javascript"  th:src="@{/public/library/js/bootstrap.min.js}"></script>
    <!-- Plugins js -->
    <script type="text/javascript"  th:src="@{/public/library/js/plugins.js}"></script>
    <!-- Active js -->
    <script type="text/javascript"  th:src="@{/public/library/js/active.js}"></script>
</th:block>