<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layouts/admin_template">
<head>
    <title>Trung Hiếp Shop - Quản lý thông tin sản phẩm</title>
    <th:block layout:fragment="css">
        <link th:href="@{/admin/library/css/chosen.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/admin/library/assets/datatables/jquery.dataTables.min.css}" rel="stylesheet"/>
        <link th:href="@{/admin/library/assets/responsive-table/rwd-table.min.css}" rel="stylesheet"/>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="pull-left page-title">Quản lý thông tin sản phẩm</h4>
                <ol class="breadcrumb pull-right">
                    <li><a th:href="@{/admin/home}">Trang chủ</a></li>
                    <li class="active">Quản lý sản phẩm</li>
                </ol>
            </div>
        </div>
        <!-- Tìm Kiếm -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>ĐIỀU KIỆN TÌM KIẾM</h5>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline ad-search-form" role="form">
                            <!-- Tên sản phẩm -->
                            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <label class="col-lg-5 col-md-5 col-sm-6 col-xs-6">Tên sản phẩm: </label>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" id="product_search_name" />
                                </div>
                            </div>

                            <!-- Loại sản phẩm -->
                            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <label class="col-lg-5 col-md-5 col-sm-6 col-xs-6">Loại sản phẩm: </label>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    <select class="form-control chosen-select" id="searchCategory">
                                        <option value="">Tất cả</option>
                                        <th:block th:each="category : ${lstCategory}">
                                            <option th:value="${category.id}" th:text="${category.name}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- Loại sản phẩm -->
                            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <label class="col-lg-5 col-md-5 col-sm-6 col-xs-6">Hãng sản xuất: </label>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    <select class="form-control chosen-select" id="searchManufacturer">
                                        <option value="">Tất cả</option>
                                        <th:block th:each="manufacturer : ${lstManufacturer}">
                                            <option th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- Mã sản phẩm -->
                            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <label class="col-lg-5 col-md-5 col-sm-6 col-xs-6">Mã sản phẩm: </label>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" id="product_search_code" />
                                </div>
                            </div>

                            <!-- Trạng thái -->
                            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <label class="col-lg-5 col-md-5 col-sm-6 col-xs-6">Trạng thái: </label>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    <select class="form-control chosen-select" id="product_search_status">
                                        <option value="">Tất cả</option>
                                        <option value="1">Đang còn hàng</option>
                                        <option value="2">Đang giảm giá</option>
                                        <option value="3">Sắp ra mắt</option>
                                        <option value="4">Hết hàng</option>

                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                                <button class="btn btn-inverse waves-effect waves-light m-l-10 text-right" id="btnProductSearch">
                                    <i class="fa fa-filter"></i> Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Danh sách sản phẩm -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="portlet-title text-dark text-uppercase">
                              DANH SÁCH SẢN PHẨM
                        </h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-purple ad-panel-function">
                            <div class="panel-body">
                                <!-- Thêm mới -->
                                <button class="btn btn-inverse waves-effect waves-light m-l-10" id="btnAddNew" title="Thêm mới sản phẩm">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <div class="pull-right">
                                    <h5 style="margin: 9px 10px;">Tổng số bản ghi : [[${lstProduct.getTotalRecord()}]]</h5>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive-role">
                            <table class="table table-bordered dataTable table-hover" id="data_table_product">
                                <thead>
                                <tr>
                                    <th class="text-center tb-checkbox">
                                        <div class="checkbox">
                                            <input type="checkbox" class="checkItemAll"><label></label>
                                        </div>
                                    </th>
                                    <th class="text-center" id="th_stt">#</th>
                                    <th class="sort sorting" data-col="name">TÊN SP</th>
                                    <th class="sort sorting" data-col="code">MÃ SP</th>
                                    <th class="sort sorting" data-col="categoryID">LOẠI SP</th>
                                    <th class="sort sorting" data-col="manufacturerID">HÃNG SX</th>
                                    <th class="sort sorting" data-col="price">GIÁ</th>
                                    <th class="sort sorting" data-col="quantity">SỐ LƯỢNG</th>
                                    <th class="sort sorting" data-col="status">TRẠNG THÁI</th>
                                    <th class="text-center">CHỨC NĂNG</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:if="${not #lists.isEmpty(lstProduct.getResultList())}" th:each="product, iter : ${lstProduct.getResultList()}">
                                    <tr>
                                        <td class="text-center tb-checkbox">
                                            <div class="checkbox">
                                                <input type="checkbox" class="checkItem" th:attr="data-id=${product.id}"><label></label>
                                            </div>
                                        </td>
                                        <td class="text-center" th:text="${(iter.index+1) + (lstProduct.getPageIndex() - 1) * lstProduct.getPageSize()}"></td>
                                        <td>[[${product.name}]]</td>
                                        <td>[[${product.code}]]</td>
                                        <td>[[${product.categoryName}]]</td>
                                        <td>[[${product.manufacturerName}]]</td>
                                        <td>
                                            <th:block th:if="${product.price > 0}">
                                                [[${#numbers.formatInteger(product.price,3,'POINT')}]] VNĐ
                                            </th:block>
                                        </td>
                                        <td>[[${product.quantity}]]</td>
                                        <td class="text-center">
                                            <th:block th:if="${product.status == 1}">
                                                <span class="label_status label-inverse2">Đang còn hàng</span>
                                            </th:block>
                                            <th:block th:if="${product.status == 2}">
                                                <span class="label_status label-inverse2">Đang giảm giá</span>
                                            </th:block>
                                            <th:block th:if="${product.status == 3}">
                                                <span class="label_status label-inverse2">Sắp ra mắt</span>
                                            </th:block>
                                            <th:block th:if="${product.status == 4}">
                                                <span class="label_status label-inverse2">Tạm hết hàng</span>
                                            </th:block>
                                        </td>
                                        <td class="text-center">
                                            <!-- Xem ảnh -->
                                            <th:block th:if="${product.imageLink != null}">
                                                <a class="text-inverse" id="btnViewImage" href="javascript: ;" th:attr="data-id=${product.id}, data-image=${product.imageLink}" title="Xem ảnh sản phẩm">
                                                    <i class="fa fa-image"></i>
                                                </a>
                                            </th:block>
                                            <!-- Xem sản phẩm -->
                                            <a class="text-inverse" id="btnViewProduct" href="javascript: ;" th:attr="data-id=${product.id}" title="Xem thông tin sản phẩm">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <!-- Sửa sản phẩm -->
                                            <a class="text-inverse" id="btnEditProduct" href="javascript: ;" th:attr="data-id=${product.id}" title="Cập nhật thông tin sản phẩm">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <!-- Xóa sản phẩm -->
                                            <a class="text-inverse" id="btnDeleteProduct" href="javascript: ;" th:attr="data-id=${product.id}" title="Xóa thông tin sản phẩm">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </th:block>

                                <th:block th:unless="${not #lists.isEmpty(lstProduct.getResultList())}">
                                    <tr>
                                        <td colspan="10" class="text-center">Không có dữ liệu</td>
                                    </tr>
                                </th:block>
                                <input type="hidden" id="data_paging" th:attr="data-total=${lstProduct.getTotalPage()}, data-totalrecord=${lstProduct.getTotalRecord()}, data-page=${lstProduct.getPageIndex()}"/>
                                </tbody>
                            </table>
                            <!-- Show bản ghi -->
                            <div class="page_option" style="padding-top: 20px;">
                                <th:block th:if="${lstProduct.getTotalPage() > 1}">
                                    <div class="page_home">
                                        <div class="col-xs-12 col-md-4 form-inline">
                                            <label>
                                                Hiển thị
                                                <select class="form-control" id="show_page">
                                                    <option value="2">2</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="150">150</option>
                                                    <option value="200">200</option>
                                                </select>
                                                Bản ghi
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-md-8">
                                            <div class="dataTables_paginate">
                                                <div class="pagination" id="pagination"></div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Thêm Mới Sản Phẩm -->
        <div class="modal fade fade-scale" id="productModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-custom modal-full" style="max-width: 1200px; margin: 4px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Thêm mới thông tin sản phẩm</h4>
                    </div>
                    <form class="form-horizontal" id="formProduct">
                        <div class="modal-body">
                            <!-- Tên sản phẩm -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tên sản phẩm<span class="required">*</span> : </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="txtProduct_Name" id="inpProduct_Name" maxlength="50"/>
                                </div>
                            </div>

                            <!-- Loại sản phẩm, Hãng sản xuất -->
                            <div class="form-group">
                                <!-- Loại sản phẩm -->
                                <label class="col-sm-2 control-label">Loại sản phẩm<span class="required">*</span> : </label>
                                <div class="col-sm-4">
                                    <select class="form-control chosen-select" name="slProduct_Category" id="slProduct_Category">
                                        <option value="">Lựa chọn</option>
                                        <th:block th:each="category: ${lstCategory}">
                                            <option th:value="${category.id}" th:text="${category.name}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <!-- Hãng sản xuất -->
                                <label class="col-sm-2 control-label">Hãng sản xuất<span class="required">*</span> : </label>
                                <div class="col-sm-4">
                                    <select class="form-control chosen-select" name="slProduct_Manufacturer" id="slProduct_Manufacturer">
                                        <option value="">Lựa chọn</option>
                                        <th:block th:each="manufacturer: ${lstManufacturer}">
                                            <option th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- Số lượng, Giá -->
                            <div class="form-group">
                                <!-- Số lượng -->
                                <label class="col-sm-2 control-label">Số lượng<span class="required">*</span> : </label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" name="txtProduct_Quantity" id="inpProduct_Quantity" maxlength="10"/>
                                </div>
                                <!-- Giá -->
                                <label class="col-sm-2 control-label">Đơn giá<span class="required">*</span> : </label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" name="txtProduct_Price" id="inpProduct_Price" />
                                </div>
                            </div>

                            <!-- Giảm giá, Trạng thái -->
                            <div class="form-group">
                                <!-- Giảm giá -->
                                <label class="col-sm-2 control-label">Giảm giá : </label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="inpProduct_Discount" name="txtProduct_Discount" maxlength="5" placeholder="Đơn vị tính bằng (%)"/>
                                </div>
                                <!-- Trạng thái -->
                                <label class="col-sm-2 control-label">Trạng thái : </label>
                                <div class="col-sm-4">
                                    <select class="form-control chosen-select" id="slProduct_Status">
                                        <option value="1">Đang còn hàng</option>
                                        <option value="2">Đang giảm giá</option>
                                        <option value="3">Sắp ra mắt</option>
                                        <option value="4">Tạm hết hàng</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Hình ảnh -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hình ảnh : </label>
                                <div class="col-sm-10">
                                    <input type="file" name="file" class="form-control" id="inpProduct_ImageLink" maxlength="500"/>
                                </div>
                            </div>

                            <!-- Nội dung -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nội dung : </label>
                                <div class="col-sm-10">
                                    <textarea name="txtProduct_Content" class="form-control" id="inpProduct_Content" rows="3" maxlength="1000"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-inverse waves-effect waves-light m-b-5" id="btnSubmitProduct" style="margin-bottom: 0;">
                                <i class="fa fa-check-square-o"></i> Thêm mới
                            </button>
                            <button type="button" class="btn btn-inverse waves-effect waves-light m-b-5" id="btnClose" style="margin-bottom: 0;" data-dismiss="modal">
                                <i class="fa fa-times"></i> Đóng
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/admin/library/assets/jquery.validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/additional-methods.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/jquery.twbsPagination.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/library/js/chosen.jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/backend/product/product.js}"></script>
    <script type="text/javascript" th:src="@{/admin/backend/utils/validate.js}"></script></th:block>
</body>
</html>