<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trung Hiếu Shop</title>
    <th:block th:replace="public/fragments/header :: public_shared_css"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body class="fixed-left">
<div class="main-content-wrapper d-flex clearfix">
    <div th:replace="public/fragments/menu :: public_menu_left"></div>
    <div th:replace="public/fragments/sidebar :: public_sidebar"></div>
    <div class="amado_product_area section-padding-100">
        <div class="content" layout:fragment="content_data">

        </div>
    </div>
</div>
<section th:replace="public/fragments/newsletter :: public_newsletter"></section>
<footer th:replace="public/fragments/footer :: public_footer"></footer>
<th:block th:replace="public/fragments/script :: public_shared_script"></th:block>
<th:block layout:fragment="script"></th:block>
</body>
</html>